<form id="signup" name="signup" method="post" action="/">
	<label for="username">Username</label>
	<input class="text username" name="username" type="text" />
    <label for="password">Password</label>
    <input class="text password" name="password" type="password" />
	<input class="btn" type="submit" value="Sign Up" />
</form>
